<settings>
<category label="AsomeDL Settings">
</category> 	

<category label="Auto-View">
	<setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
	<setting id="epg" type="number" label="EPG View" default="503" enable="!eq(-1,false)"/>
	<setting id="default" type="number" label="EVERY THING ELSE" default="50" enable="!eq(-1,false)"/>
</category>
</settings>