[submodule "touched"]
	path = addons/skin.touched
	url = git://github.com/xbmc/skin.touched.git
	ignore = all
[submodule "nnandroidapps"]
	path = addons/plugin.program.nnandroidapps
	url = git://github.com/mcrosson/nnandroidapps.git
