<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="General">
   <setting id="meta-view" type="bool" label="[B]Metadata[/B]" default="true"/>
    <setting id="auto-view" type="bool" label="[B]Auto View[/B]" default="true"/>
		<setting id="home-view"	type="enum" label="Main Menu View" values="List|Thumbnail" default="1" enable="!eq(-1,false)"/>
		<setting id="seasons-view" type="number" label="Season View" default="504" enable="!eq(-2,false)"/>	
		<setting id="episodes-view" type="number" label="Episode View" default="504" enable="!eq(-3,false)"/>
		<setting id="choose-skin" type="bool"  label="[B]Xperience 1080 OFF  | Confluence ON[/B]" default="true"enable="!eq(-4,false)"/>

      	<setting id="con-view"	type="enum" label="Confluence View" values="List|Big List|Thumbnail|Posters Wrap|Fanart|Media Info 1|Media Info 2|Media Info 3" default="3" enable="!eq(-1,false)+!eq(-5,false)"/>
		<setting id="xpr-view"	type="enum" label="Xperience 1080 View" values="List|Info List|Thumbnail|Posters|Landscape|Banner|Panel" default="3" enable="!eq(-2,true)+!eq(-6,false)"/>
		<setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
		<setting id="visitor_ga" type="text" label="GA visitor" default="" visible="false"/>
		
   </category>
   <category label="Video Quality">
		<setting id="bit-disc"	type="enum" label="[B]Discovery Bitrate[/B]" values="3500k|1500k|600k" default="0"/>
		<setting id="vice-qua"	type="enum" label="[B]Vice & MMA-F Bitrate[/B]" values="High|Medium|Low" default="0"/>
		<setting id="tsn-qua"	type="enum" label="[B]TSN & FOX Bitrate[/B]" values="High|Medium|Low" default="0"/>
		<setting id="wild-qua"	type="enum" label="[B]Wild Tv Bitrate[/B]" values="High|Low" default="0"/>
		<setting id="disj-qua"	type="enum" label="[B]Disney Jr. Bitrate[/B]" values="High|Medium|Low" default="0"/>
   </category>
</settings>